name: Spring Boot CI

on:
  pull_request:
    branches:
      - weekly  # 'weekly' 브랜치로 PR이 생성될 때만 실행

env:
  JWT_ACCESS_SECRET: ${{secrets.JWT_ACCESS_SECRET}}
  JWT_REFRESH_SECRET: ${{secrets.JWT_REFRESH_SECRET}}
  TOSS_PAYMENT_SECRET: ${{secrets.TOSS_PAYMENT_SECRET}}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Cache Gradle dependencies
        uses: actions/cache@v2
        with:
          path: ~/sunsu-wedding/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Build and Test
        run: ./gradlew clean build
        working-directory: ./sunsu-wedding
        
      - name: Run Spring Boot App for 30 seconds
        run: |
          ./gradlew bootRun &
          APP_PID=$!
          sleep 30
          kill $APP_PID
        continue-on-error: false
        working-directory: ./sunsu-wedding
